<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>B</key>
		<string>B_.glif</string>
		<key>F</key>
		<string>F_.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>Oslash</key>
		<string>O_slash.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>X</key>
		<string>X_.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>dvA</key>
		<string>dvA_.glif</string>
		<key>dvBA</key>
		<string>dvB_A_.glif</string>
		<key>dvBHA</key>
		<string>dvB_H_A_.glif</string>
		<key>dvB_R</key>
		<string>dvB__R_.glif</string>
		<key>dvB_SHA</key>
		<string>dvB__S_H_A_.glif</string>
		<key>dvCHA</key>
		<string>dvC_H_A_.glif</string>
		<key>dvCH_VA</key>
		<string>dvC_H__V_A_.glif</string>
		<key>dvC_R</key>
		<string>dvC__R_.glif</string>
		<key>dvDDA</key>
		<string>dvD_D_A_.glif</string>
		<key>dvDDH_VA</key>
		<string>dvD_D_H__V_A_.glif</string>
		<key>dvDDH_YA</key>
		<string>dvD_D_H__Y_A_.glif</string>
		<key>dvDD_DDA</key>
		<string>dvD_D__D_D_A_.glif</string>
		<key>dvDD_DDHA</key>
		<string>dvD_D__D_D_H_A_.glif</string>
		<key>dvDD_VA</key>
		<string>dvD_D__V_A_.glif</string>
		<key>dvDD_YA</key>
		<string>dvD_D__Y_A_.glif</string>
		<key>dvD_BA</key>
		<string>dvD__B_A_.glif</string>
		<key>dvD_B_RA</key>
		<string>dvD__B__R_A_.glif</string>
		<key>dvD_NA</key>
		<string>dvD__N_A_.glif</string>
		<key>dvE</key>
		<string>dvE_.glif</string>
		<key>dvGHA</key>
		<string>dvG_H_A_.glif</string>
		<key>dvHA</key>
		<string>dvH_A_.glif</string>
		<key>dvI</key>
		<string>dvI_.glif</string>
		<key>dvJA</key>
		<string>dvJ_A_.glif</string>
		<key>dvKA</key>
		<string>dvK_A_.glif</string>
		<key>dvKHA</key>
		<string>dvK_H_A_.glif</string>
		<key>dvK_CA</key>
		<string>dvK__C_A_.glif</string>
		<key>dvMA</key>
		<string>dvM_A_.glif</string>
		<key>dvN_DHA</key>
		<string>dvN__D_H_A_.glif</string>
		<key>dvRA_mUU</key>
		<string>dvR_A__mU_U_.glif</string>
		<key>dvSA</key>
		<string>dvS_A_.glif</string>
		<key>dvSHA</key>
		<string>dvS_H_A_.glif</string>
		<key>dvSHA_mvR</key>
		<string>dvS_H_A__mvR_.glif</string>
		<key>dvTTA</key>
		<string>dvT_T_A_.glif</string>
		<key>dvTTHA</key>
		<string>dvT_T_H_A_.glif</string>
		<key>dvTTH_VA</key>
		<string>dvT_T_H__V_A_.glif</string>
		<key>dvTT_VA</key>
		<string>dvT_T__V_A_.glif</string>
		<key>dvU</key>
		<string>dvU_.glif</string>
		<key>dvUU</key>
		<string>dvU_U_.glif</string>
		<key>dvVA</key>
		<string>dvV_A_.glif</string>
		<key>dvYA</key>
		<string>dvY_A_.glif</string>
		<key>dvY_R</key>
		<string>dvY__R_.glif</string>
		<key>dvmE_Reph</key>
		<string>dvmE__R_eph.glif</string>
		<key>dvmE_Reph_Anusvara</key>
		<string>dvmE__R_eph_A_nusvara.glif</string>
		<key>dvmI.01</key>
		<string>dvmI_.01.glif</string>
		<key>h</key>
		<string>h.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>q</key>
		<string>q.glif</string>
		<key>question</key>
		<string>question.glif</string>
		<key>s</key>
		<string>s.glif</string>
		<key>sterling</key>
		<string>sterling.glif</string>
		<key>u</key>
		<string>u.glif</string>
	</dict>
</plist>
