<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>V</key>
	<dict>
		<key>comma</key>
		<integer>-70</integer>
		<key>period</key>
		<integer>-70</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-40</integer>
	</dict>
	<key>public.kern1.A</key>
	<dict>
		<key>quotesingle</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.L</key>
	<dict>
		<key>quotesingle</key>
		<integer>-90</integer>
	</dict>
	<key>public.kern1.W</key>
	<dict>
		<key>comma</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.Y</key>
	<dict>
		<key>comma</key>
		<integer>-70</integer>
		<key>period</key>
		<integer>-70</integer>
	</dict>
	<key>public.kern1.a</key>
	<dict>
		<key>comma</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.r</key>
	<dict>
		<key>comma</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-50</integer>
	</dict>
	<key>public.kern1.w</key>
	<dict>
		<key>comma</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-20</integer>
	</dict>
	<key>public.kern1.y</key>
	<dict>
		<key>comma</key>
		<integer>-40</integer>
		<key>period</key>
		<integer>-40</integer>
	</dict>
</dict>
</plist>
